# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
.next/
out/
build/
dist/

# Ignored folders
projects/
templates/
roo-code/
agent/

# Python cache directories
**/.mypy_cache/
**/.pytest_cache/
**/.ruff_cache/
**/__pycache__/

# Cache
.npm
.eslintcache

# Misc
.DS_Store
*.pem
.env*
!.env.example

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea
.vscode/*
!.vscode/extensions.json 